.photoActions {
    padding: 10px;
    .icons {
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        .ico {
            margin-left: 10px;
            &:first-child {
                margin-left: 0;
            }
        }
    }    
}