@import 'config/_colors.scss';
@import 'config/_sizes.scss';
@import 'config/_mixins.scss';

button, a {
    padding: 0;
    border: none;
    background: none;
    box-sizing: border-box;
    outline: none;
    cursor: pointer;
}