.photoComments {
    margin-bottom: 10px;
    .photoComment {
        margin-top: 2px;
        font-size: 15px;
        &:first-child {
            margin-top: 0;
        }
        span {
            display: inline-block;
            &.username {
                font-weight: bold;
                margin-right: 5px;
            }
            .comment{}
        }
    }
}